<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet/less" type="text/css" href="/static/styles/app.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>

<div class="page-container">
    <div class="login">

        <h1 class="page-title">Sign In!</h1>

        <div class="login__google">
            <a class="login__google-button button" href="/auth/google">
                <span class="login__google-logo"></span>
                <span class="login__google-text">Log in with Google</span>
            </a>
        </div>

    </div>
</div>

</html>