<div class="about">
    <h1 class="page-title">Welcome!</h1>
    <p class="about__info">
        So, here's an app where you can track content changes on a competitor's website pages.
    </p>
    <a class="about__btn-start button" href="#/tasks" title="Click here to get started!">
        Start using
    </a>
</div>